{%extends '../base.html'%}
{%block body%}
<div class="container my-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {%for product in products%}
        <div class="col">
            <div class="card">
                <img src="{{product.image}}" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">{{product.desc}}</p>
                    <hr>
                    
                    <a href="/shop/product/{{product.id}}" class="btn btn-outline-danger">View</a>
                    <h3 style="float: right;">Rs.{{product.price}}</h3>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{%endblock%}
