<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Site</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  <link href="https://firebasestorage.googleapis.com/v0/b/shoppingly-1e8fd.appspot.com/o/assets%2Fdashboard%2Fsidebars.css?alt=media&token=0d03011b-fbe3-4bf3-bd74-ccc6d8392ea6" rel="stylesheet">
</head>
<body>
    
    
      <script src="https://firebasestorage.googleapis.com/v0/b/shoppingly-1e8fd.appspot.com/o/assets%2Fdashboard%2Fsidebars.js?alt=media&token=3e6e6b01-fade-4ce0-8bb6-0fca473d6796"></script>
</body>
</html>